<!DOCTYPE html>
<html ng-app="QuizCards">
<head lang="en">
  <meta charset="UTF-8">
  <title>Quiz Cards</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/application.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="iphone-bg">
          <div class="card-content" ng-controller="QuizController as quiz">

            <div class="title" ng-show="quiz.state == 'title'">
              <h3>What's Your Secret Alter Ego?</h3>
              <p>Look deep inside yourself and get a little quirky with New Belgium’s Fat Tire Ale.</p>
              <p><a href="" class="btn btn-primary" ng-click="quiz.state = 'question'">Start</a></p>
            </div>

            <div class="question" ng-show="quiz.state == 'question'">
              <h3>{{ quiz.questions[0].title }}</h3>
              <div class="row">
                <div class="answer col-md-6" ng-repeat="answer in quiz.questions[0].answers" ng-click="quiz.getResult()">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      {{ answer }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="email" ng-show="quiz.state == 'email'">
              <h3>Enter your email to see the result:</h3>
              <p><input type="email"></input></p>
              <p><a href="" class="btn btn-primary" ng-click="quiz.getResult()">Submit</a></p>
            </div>

            <div class="result" ng-show="quiz.state == 'result'">
              <h3>You got: {{ quiz.results[quiz.result].title }}</h3>
              <p>{{ quiz.results[quiz.result].desc }}</p>
              <p><a href="" class="btn btn-primary" ng-click="quiz.state = 'title'">Play Again?</a></p>
              <img ng-src="{{ quiz.results[quiz.result].img }}" class="img-responsive">
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
  <script src="js/quizcards.js"></script>
</body>
</html>
